<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h3>Image Processing Client</h3>

    <button class="button button-positive" ng-click="getPicture()">load picture</button>

    <div class="card">
      <div class="item item-image">
        <img ng-src="{{originalImageUri}}">
      </div>
    </div>

    <button class="button button-positive" ng-click="resizePicture()">resize</button>

    <div class="card">
      <div class="item">
        <img ng-src="{{resizedImageUri}}">
      </div>
    </div>



  </ion-content>
</ion-view>
